.Products-container {
    display: flex;
    min-height: 100vh;
    background-color: white;
}

.Products-menu {
    max-width: 50%;
    background-color: #f5f5f5;
    padding: 5% 5%;
    min-width: 30%;
    max-width: 35%;
}

.Products-results {
    padding: 100px 80px;
    width: 100%;
}

.Product-container {
    max-height: 287px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Product-image {
    width: 100%;
    height: 50%;
}

.Product-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.Product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.Product-line {
    height: 1px;
    width: 100%;
    background-color: #80896D;
    width: 100%;
    margin: 9px 0;
}