<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Liven</title>
        <meta name="description" content="Liven test.">
        <meta name="keywords" content="liven">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
        <link rel="stylesheet" href="https://use.typekit.net/mgk0aou.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati:wght@100;400;600;700;800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id='main'>
            <div id='app'></div>
        </div>
        <script src="{% static "frontend/main.js" %}"></script>
    </body>
</html>