.st0{fill:#EF404A;}
.st1{fill:#8EB056;}
.st2{fill:#BDD1D9;}
.st3{fill:#BA7031;}
.st4{fill:#FFCC32;}

/* .st0Liven{fill:#009640;}
.st1Liven{fill-rule:evenodd;clip-rule:evenodd;fill:#E30C13;}
.st2Liven{fill:#007030;} */